
<div data-url="jqm-home" data-role="page" data-theme="b" id="jqm-home">
	<div id="jqm-homeheader">
		<h1 id="jqm-logo"><img src="docs/_assets/images/jquery-logo.png" alt="jQuery Mobile Framework" height="61" width="235"></h1>
		<p>A Touch-Optimized Web Framework for Smartphones &amp; Tablets</p>
		<p id="jqm-version">Alpha Release</p>
	</div>

	<div data-role="content">

		<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
			<li data-role="list-divider">Overview</li>
			<li><a href="docs/about/intro.html">Intro to jQuery Mobile</a></li>
			<li><a href="docs/about/features.html">Features</a></li>
			<li><a href="docs/about/accessibility.html">Accessibility</a></li>
			<li><a href="docs/about/platforms.html">Supported platforms</a></li>
		</ul>

		<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
			<li data-role="list-divider">API</li>
			<li><a href="docs/api/globalconfig.html">Configuring defaults</a></li>
			<li><a href="docs/api/events.html">Events</a></li>
			<li><a href="docs/api/methods.html">Methods &amp; Utilities</a></li>
			<li><a href="docs/api/mediahelpers.html">Responsive Layout</a></li>
			<li><a href="docs/api/themes.html">Theme framework</a></li>
		</ul>

		<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
			<li data-role="list-divider">Components</li>
			<li><a href="docs/pages/index.html">Pages &amp; dialogs</a></li>
			<li><a href="docs/toolbars/index.html">Toolbars</a></li>
			<li><a href="docs/buttons/index.html">Buttons</a></li>
			<li><a href="docs/content/index.html">Content formatting</a></li>
			<li><a href="docs/forms/index.html">Form elements</a></li>
			<li><a href="docs/lists/index.html">List views</a></li>
		</ul>




	</div>
</div>
<div class="ui-page ui-body-c" data-url="docs/lists/lists-thumbnails.html" data-role="page">

	<div role="banner" class="ui-bar-b ui-header" data-role="header" data-theme="b">
		<h1 aria-level="1" role="heading" tabindex="0" class="ui-title">Thumbnails</h1>
		<a data-theme="b" title="Home" href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-b"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Home</span><span class="ui-icon ui-icon-home ui-icon-shadow"></span></span></a>
	</div><!-- /header -->

	<div role="main" class="ui-content" data-role="content">

		<ul class="ui-listview" data-role="listview">
			<li data-theme="c" class="ui-li-has-thumb ui-btn ui-btn-icon-right ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">
				<img class="ui-li-thumb" src="docs/lists/images/album-bb.jpg">
				<h3 class="ui-li-heading">Broken Bells</h3>
				<p class="ui-li-desc">Broken Bells</p>
			</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-li-has-thumb ui-btn ui-btn-up-c ui-btn-icon-right ui-li"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">
				<img class="ui-li-thumb" src="docs/lists/images/album-hc.jpg">
				<h3 class="ui-li-heading">Warning</h3>
				<p class="ui-li-desc">Hot Chip</p>
			</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-li-has-thumb ui-btn ui-btn-up-c ui-btn-icon-right ui-li"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">
				<img class="ui-li-thumb" src="docs/lists/images/album-p.jpg">
				<h3 class="ui-li-heading">Wolfgang Amadeus Phoenix</h3>
				<p class="ui-li-desc">Phoenix</p>
			</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-li-has-thumb ui-btn ui-btn-up-c ui-btn-icon-right ui-li"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">
				<img class="ui-li-thumb" src="docs/lists/images/album-ok.jpg">
				<h3 class="ui-li-heading">Of The Blue Colour Of The Sky</h3>
				<p class="ui-li-desc">Ok Go</p>
			</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-li-has-thumb ui-btn ui-btn-up-c ui-btn-icon-right ui-li"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">
				<img class="ui-li-thumb" src="docs/lists/images/album-ws.jpg">
				<h3 class="ui-li-heading">Elephant</h3>
				<p class="ui-li-desc">The White Stripes</p>
			</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-li-has-thumb ui-btn ui-btn-up-c ui-btn-icon-right ui-li"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">
				<img class="ui-li-thumb" src="docs/lists/images/album-rh.jpg">
				<h3 class="ui-li-heading">Kid A</h3>
				<p class="ui-li-desc">Radiohead</p>
			</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-li-has-thumb ui-btn ui-btn-up-c ui-btn-icon-right ui-li"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">
				<img class="ui-li-thumb" src="docs/lists/images/album-xx.jpg">
				<h3 class="ui-li-heading">XX</h3>
				<p class="ui-li-desc">XX</p>
			</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-li-has-thumb ui-btn ui-btn-up-c ui-btn-icon-right ui-li"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">
				<img class="ui-li-thumb" src="docs/lists/images/album-mg.jpg">
				<h3 class="ui-li-heading">Congratulations</h3>
				<p class="ui-li-desc">MGMT</p>
			</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>

			<li data-theme="c" class="ui-li-has-thumb ui-btn ui-btn-up-c ui-btn-icon-right ui-li"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">
				<img class="ui-li-thumb" src="docs/lists/images/album-ag.jpg">
				<h3 class="ui-li-heading">Ashes Grammar</h3>
				<p class="ui-li-desc">A Sunny Day in Glasgow</p>
			</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>

			<li data-theme="c" class="ui-li-has-thumb ui-btn ui-btn-up-c ui-btn-icon-right ui-li"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">
				<img class="ui-li-thumb" src="docs/lists/images/album-k.jpg">
				<h3 class="ui-li-heading">Hot Fuss</h3>
				<p class="ui-li-desc">Killers</p>
			</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-li-has-thumb ui-btn ui-btn-up-c ui-btn-icon-right ui-li"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">
				<img class="ui-li-thumb" src="docs/lists/images/album-af.jpg">
				<h3 class="ui-li-heading">The Suburbs</h3>
				<p class="ui-li-desc">Arcade Fire</p>
			</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
		</ul>


	<div class="jqm-themeswitcher"><a class="ui-btn ui-btn-up-d ui-btn-inline ui-btn-icon-left ui-btn-corner-all" data-theme="d" href="#themeswitcher" data-rel="dialog" data-transition="pop"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Switch theme</span><span class="ui-icon ui-icon-gear"></span></span></a></div></div><!-- /content -->
</div><div class="ui-page ui-body-b" data-url="docs/lists/../../" data-role="page" data-theme="b" id="jqm-home">
	<div id="jqm-homeheader">
		<h1 id="jqm-logo"><img src="docs/lists/../../docs/_assets/images/jquery-logo.png" alt="jQuery Mobile Framework" height="61" width="235"></h1>
		<p>A Touch-Optimized Web Framework for Smartphones &amp; Tablets</p>
		<p id="jqm-version">Alpha Release</p>
	</div>

	<div role="main" class="ui-content" data-role="content">

		<ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
			<li class="ui-li ui-li-divider ui-btn ui-bar-b ui-corner-top" role="heading" data-role="list-divider">Overview</li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/about/intro.html">Intro to jQuery Mobile</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/about/features.html">Features</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/about/accessibility.html">Accessibility</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-corner-bottom ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li ui-corner-bottom"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/about/platforms.html">Supported platforms</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
		</ul>

		<ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
			<li class="ui-li ui-li-divider ui-btn ui-bar-b ui-corner-top ui-btn-up-undefined" role="heading" data-role="list-divider">API</li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/api/globalconfig.html">Configuring defaults</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/api/events.html">Events</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/api/methods.html">Methods &amp; Utilities</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/api/mediahelpers.html">Responsive Layout</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li ui-corner-bottom" data-theme="c"><div class="ui-btn-inner ui-li ui-corner-bottom"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/api/themes.html">Theme framework</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
		</ul>

		<ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
			<li class="ui-li ui-li-divider ui-btn ui-bar-b ui-corner-top" role="heading" data-role="list-divider">Components</li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/pages/index.html">Pages &amp; dialogs</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/toolbars/index.html">Toolbars</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/buttons/index.html">Buttons</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/content/index.html">Content formatting</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/forms/index.html">Form elements</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-corner-bottom ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li ui-corner-bottom"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs/lists/index.html">List views</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
		</ul>




	<div class="jqm-themeswitcher"><a class="ui-btn ui-btn-inline ui-btn-icon-left ui-btn-corner-all ui-btn-up-d" data-theme="d" href="#themeswitcher" data-rel="dialog" data-transition="pop"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Switch theme</span><span class="ui-icon ui-icon-gear"></span></span></a></div></div>
</div><div class="ui-page ui-body-c" data-url="docs/lists/../../docs/lists/index.html" data-role="page">

	<div role="banner" class="ui-bar-b ui-header" data-role="header" data-theme="b"><a data-theme="b" href="#" class="ui-btn-left ui-btn ui-btn-up-b ui-btn-icon-left ui-btn-corner-all ui-shadow" data-rel="back" data-icon="arrow-l"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Back</span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow"></span></span></a>
		<h1 aria-level="1" role="heading" tabindex="0" class="ui-title">Lists</h1>
		<a data-theme="b" title="Home" href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home ui-btn ui-btn-up-b ui-btn-icon-notext ui-btn-corner-all ui-shadow"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Home</span><span class="ui-icon ui-icon-home ui-icon-shadow"></span></span></a>
	</div><!-- /header -->

	<div role="main" class="ui-content" data-role="content">

		<p>Lists are used for data display, navigation, result lists, and data entry so jQuery Mobile includes a wide range of list types and formatting examples to cover most common design patterns.</p>

		<ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-role="listview" data-inset="true">
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li ui-corner-top" data-theme="c"><div class="ui-btn-inner ui-li ui-corner-top"><div class="ui-btn-text"><a class="ui-link-inherit" href="docs-lists.html">List markup conventions</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-ul.html">Basic linked list</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-nested.html">Nested list</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-ol.html">Numbered list</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>



			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-split.html">Split button list</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-divider.html">List dividers</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-count.html">Count bubble</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-thumbnails.html">Thumbnails</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-icons.html">Icons</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-formatting.html">Content formatting</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-search.html">Search filter bar</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-search-inset.html">Inset search filter bar</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-search-with-dividers.html">Search filter bar with dividers</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>

			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-readonly.html">Read-only lists</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-readonly-inset.html">Read-only inset lists</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-forms.html">Lists with forms</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-forms-inset.html">Inset lists with forms</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>



			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-inset.html">Inset styled lists</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-performance.html">List performance test</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li ui-corner-bottom" data-theme="c"><div class="ui-btn-inner ui-li ui-corner-bottom"><div class="ui-btn-text"><a class="ui-link-inherit" href="lists-themes.html">Theming lists</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<!--<li><a href="api-lists.html">API documentation</a></li>-->
		</ul>


	<div class="jqm-themeswitcher"><a class="ui-btn ui-btn-up-d ui-btn-inline ui-btn-icon-left ui-btn-corner-all" data-theme="d" href="#themeswitcher" data-rel="dialog" data-transition="pop"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Switch theme</span><span class="ui-icon ui-icon-gear"></span></span></a></div></div><!-- /content -->
</div><div style="top: 289px;" class="ui-loader ui-body-a ui-corner-all"><span class="ui-icon ui-icon-loading spin"></span><h1>loading</h1></div><div class="ui-page ui-body-c ui-page-active" data-url="docs/lists/../../docs/lists/lists-ul.html" data-role="page">

	<div role="banner" class="ui-bar-b ui-header" data-role="header" data-theme="b"><a data-theme="b" href="#" class="ui-btn-left ui-btn ui-btn-up-b ui-btn-icon-left ui-btn-corner-all ui-shadow" data-rel="back" data-icon="arrow-l"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Back</span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow"></span></span></a>
		<h1 aria-level="1" role="heading" tabindex="0" class="ui-title">Basic list</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content" data-role="content">

			<ul class="ui-listview" data-role="listview">
				<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Acura</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Audi</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">BMW</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Cadillac</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Chrysler</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Dodge</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Ferrari</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Ford</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">GMC</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Honda</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Hyundai</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Infiniti</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Jeep</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Kia</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Lexus</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Mini</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Nissan</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Porsche</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Subaru</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Toyota</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Volkswagon</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
				<li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li" data-theme="c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a class="ui-link-inherit" href="index.html">Volvo</a></div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			</ul>
	<div class="jqm-themeswitcher"><a class="ui-btn ui-btn-up-d ui-btn-inline ui-btn-icon-left ui-btn-corner-all" data-theme="d" href="#themeswitcher" data-rel="dialog" data-transition="pop"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Switch theme</span><span class="ui-icon ui-icon-gear"></span></span></a></div></div><!-- /content -->
</div>
